<div class="row">
	<div class="col-1"></div>
	<div class="col-10 tabla-div">
		<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Garantías/Cauciones</th>
        <th scope="col">Seguro de Crédito</th>
        <th scope="col">Garantías Financieras</th>
        <th scope="col">Seguro de Ingeniería</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Cliente desde</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Operaciones</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
     <tr>
        <th scope="row">Nro. Operaciones emitidas</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Últ. emisión</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Riesgo aprobado</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Riesgo vigente</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Mora</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
	</div>
	<div class="col-1"></div>
</div>

