<section class="container-fluid cuerpo-div">
	<div class="row navi">
		<div class="col-1"></div>
		<div class="col-9">
			<nav class="navigation">
				<ul>
					<li><a [routerLink]="['/datos']" [routerLinkActive]="['active']">Datos del cliente</a></li>
					<li><a [routerLink]="['/tabla']" [routerLinkActive]="['active']">Productos</a></li>
					<li><a>Grupo económico</a></li>
					<li><a>Camp. Pago interno</a></li>
					<li><a>Redes Sociales</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-1"></div>
	</div>
</section>